.banner {
  width: 100%;
  background: var(--marvel-black);
}

.detail_content {
  display: flex;
  flex-direction: column;

  @include from-screen(md) {
    flex-direction: row;
  }

  @include from-screen(xl) {
    width: 960px;
    margin: auto;
  }
}

.image {
  width: 100%;
  @include from-screen(md) {
    width: 320px;
    height: 320px;
  }
}

.title_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.information {
  padding: 0 8px;
  @include from-screen(md) {
    padding: 48px;
    flex-grow: 1;
  }
  @include from-screen(xl) {
    padding: 48px 0 48px 48px;
  }
}

.title {
  color: white;
  font-size: 40px;
  text-transform: uppercase;
}

.description {
  color: white;
}
