.search_container {
  width: 100%;
  padding: 20px 0;
}

.search_bar {
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--marvel-black);

  input {
    width: 100%;
    padding: 10px 10px 10px 30px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;

    &::placeholder {
      color: #ccc;
    }
  }
}

.search_icon {
  position: absolute;
  left: 10px;
  color: #ccc;
}

.results {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}
