.main_container {
  margin: 16px 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include from-screen(md) {
    margin: 16px 48px;
  }
}

.characters_list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-around;

  &::after {
    content: "";
    flex: auto;
  }
}
